html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
	overflow-x: hidden;
} 

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

*::before, *::after {
	box-sizing: inherit;
}

.visually-hidden:not(:focus):not(active)
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
	position: absolute;
}



/*--------------- Кнопка ---------------*/
.button {
	display: inline-block;
	margin-right: 16px;
	padding: 17px 40px;

	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 5px;

	background-color: #fb565a;
	border: none;
}


/*--------------- Главная навигация-СТИЛИ ---------------*/
.container {
	margin: 0 auto;
	padding: 0;
}

.main-header {
	margin: 0 auto;
	padding: 0;
	background-color: #eeeeee;
}

.main-header-logo {
	width: 160px;
	height: 65px;
	margin: 0;
	padding: 48px 200px 20px 20px;
}

.main-header-logo img:focus,
.main-header-logo img:hover {
	opacity: 0.8;
}

.main-header-logo img:active {
	opacity: 0.3;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.site-navigation {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.site-navigation li {
	padding: 0;
	padding-top: 73px;
	padding-right: 45px;
}

.site-navigation,
.basket-link {
	list-style: none;
}

.site-navigation a,
.basket-link a {
	text-decoration: none;
	color: #000000;
}

.basket-link {
	display: flex;
	max-width: 130px;
	margin: 0;
	padding: 0;
	padding-top: 83px;
}

.basket-link .basket {
	position: relative;
	padding-left: 45px;
}

.basket::before {
	content: "";

	position: absolute;
	top: 1px;
	left: 20px;

	width: 16px;
	height: 16px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-link a:hover,
.basket-link a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.basket-link a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation-current a {
	border-bottom: 2px solid #fb565a;
}

/*--------------- Слайдеры-СТИЛИ ---------------*/
.sliders {
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	background-color: #eeeeee;
}

.slider-colums {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.slider-left {
	width: 44%;
	margin: 0;
	padding: 0;
}

.slider-img {
	margin: 0;
	padding: 0;
}

.sliders-list {
	list-style: none;
	text-align: left;
	display: flex;
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.sliders-list h3 {
	font-size: 55px;
	line-height: 55px;
	padding: 0;
	padding-top: 65px;
	margin: 0;
}

.slider-left p {
	font-size: 16px;
	line-height: 24px;
	width: 460px;
	margin: 0;
	padding: 28px 0 42px 0; 
}

.sliders-list a {
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff
	text-transform: uppercase;
	background-color: #fb565a;
}

.button-slider {
	display: inline-block;
	padding: 17px 55px;
} 

.sliders-list a:hover,
.sliders-list a:focus,
.basket-link a:focus,
.basket-link a:hover {
	background-color: #e74246;
}

.sliders-list a:active,
.basket-link a:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px inset;
	background-color: #c13135;
}

	

/*--------------- Услуги-СТИЛИ ---------------*/
.services-list {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 2px solid #e1e1e1;
	list-style: none;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.services-list a {
	text-decoration: none;

	font-size: 16px;
	line-height: 18px;
	color: white;
	text-transform: uppercase;
}

.service-item {
	width: 33%;
	margin: 0;
	margin-right: 100px;
	margin-bottom: 80px;
	padding: 0;
	border: 3px solid purple;
}

.service-item p {
	width: 245px;
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}

.service-item h3 {
	margin: 0;
	padding: 26px 0;
}

.web-site a {
	background-color: #fb565a;
}

.aps a {
	background-color: #00ca74;
}

.presentation a {
	background-color: #efc84a
}

.services-list .web-site a:hover,
.services-list .web-site a:focus {
	background-color: #e74246;
}

.services-list .web-site a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #c13135;
	box-shadow: 0 3px inset;
}

.services-list .aps a:hover,
.services-list .aps a:focus {
	background-color: #00bc6c;
}

.services-list .aps a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	box-shadow: 0 3px inset;
}

.services-list .presentation a:hover,
.services-list .presentation a:focus {
	background-color: #eab534;
}

.services-list .presentation a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	box-shadow: 0 3px inset;
}



/*--------------- О студии-СТИЛИ ---------------*/
.about-colums {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 2px solid #e1e1e1;
}


/*--------------- О студии-СТИЛИ-левая сторона ---------------*/
.about {
	width: 58.3333%;
	margin: 80px 0 75px 0;
	padding: 0;
	outline: 3px solid orange;
}

.slogan {
	color: #000000;
	font-size: 45px;
	line-height: 45px;
}

.slogan2 {
	margin: 0;
	padding: 38px 0 48px 0;
}

.about h4 {
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
	color: #000000;
	text-transform: uppercase;
}

.orders li {
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}

.orders li:nth-child(3) {
	margin: 0;
	padding: 0;
}

.orders li {
	display: block;
	position: relative;
}

.orders li::before {
	position: absolute;
	left:-40px;
	display: block;
	content: "\2014";
	font-size: 40px;
	color: #fb565a;
}


/*--------------- О студии-СТИЛИ-правая сторона ---------------*/
.block2004 {
	width: 33.3333%;
	margin: 40px 0 75px 0;
	padding: 0;
	outline: 3px solid blue;
}

.statistics {
	list-style: none;
}

.block2004 h4 {
	margin: 0;
	padding: 41px 0 45px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.block2004 .statistics {
	display: flex;
	margin: 0;
	padding: 0;
}

.statistics .number {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold;
}

.statistics .percent {
	font-size: 20px; 
	vertical-align: super;

	margin-top: -13px;
	position: absolute; /* ничего не произошло... */
}

.statistics .tagging {
	font-size: 16px;
	line-height: 18px;
}

.tagging {
	display: block;
	margin: 0;
	padding: 0;	
	padding-top: 28px;
}



/*--------------- Партнеры-Стили ---------------*/
.partners-section {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0;
	outline: 3px solid red;
}

.partners-list {
	display: flex;
	align-items: center;
	width: 1200px;
	margin: 0;
	padding: 0;
}

.partners-list li {
	width: 25%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.partners-list {
	list-style: none;
}

.partners-list a {
	opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
	opacity: 1;
}

.partners-list a:active {
	opacity: 0.1;
}

.partners-item {
	position: relative;
}

.partners-item::before {
	content: "";

	position: absolute;
	top: 50%;
	margin-top: -26px;
	left: 0px;

	width: 2px;
	height: 52px;

	background-color: #d1d1d1;
	filter: opacity(1);
}

.partners-item:nth-child(1)::before {
	display: none;
}



/*--------------- Футер-СТИЛИ ---------------*/
.main-footer {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.map { 
	margin-left: -500px;
	margin-right: -500px;
	text-align: center;
	outline: 3px solid red;
}

.contacts {
	position: absolute;
	width: 219px;
	height: 308px;
	margin-top: -400px;
	padding: 0 50px;
	background-color: #ffffff;
}

.contacts h4 {
	margin: 50px 0 30px 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.contacts p {
	font-size: 16px;
	line-height: 18px;
	color: #61686c;
}

.contacts p:last-of-type {
	margin: 0;
	padding: 10px 0 35px 0;
}

.button-letter {
	display: block;
	padding: 17px 45px;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: #fb565a;
	border: none;  /* неправильно отображается */
}

.button-letter:hover,
.button-letter:focus {
	background-color: #e74246;
}

.button-letter:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px inset;
}


/*--------------- Футер-Подвал-СТИЛИ ---------------*/
.footer-colums {
	display: flex;
	width: 1200px;  /*надо ли тут ширину дублировать!? */
	margin: 69px 0 0 0;
	padding: 0;
	outline: 3px solid blue;	
}

.social-type {
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin: 0px 140px 0 0;
	padding: 0;
	list-style: none;
}

.button-social {
	display: flex;
	justify-content: center;
	align-self: center;

	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: #e1e1e1;
}

.button-social:hover,
.button-social:focus {
	background-color: #e74246;
}

.button-social:active {
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.3) inset;
}

.button-social:active img {
	opacity: 0.3
}

.footer-discount {
	width: 66%;
	margin: 0;
	padding: 0;
}

.footer-discount b {
	display: block;
	padding: 9px 0 15px 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.footer-discount p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	list-style: 22px;
	color: #444444;
}







/*--------------- Каталог-СТИЛИ ---------------*/
.page-title {
	margin: 0 -2000px;
	padding: 65px 0 115px 0;
	font-size: 55px;
	line-height: 55px;

	background-color: #eeeeee;
	text-align: center;
}



/*--------------- Фильтры-СТИЛИ ---------------*/
.filters {
	width: 300px;
	padding: 0;
	margin: 0 120px 0 0;
}

/*--------------- Фильтр-Сетка-СТИЛИ ---------------*/
.filter-item-grid {
	margin: 0 0 50px 0;
	padding: 0;
	border: none;
}

.filter-item-grid legend {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.filter-item-grid ul {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #dfdfdf;
}

.option-grid {
	margin-bottom: 15px;
	padding-left: 35px; 
}

.option-grid label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-radio + label::before {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #dfdfdf;
	opacity: 0.4;
}

.filter-input-radio:checked + label::after {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #dfdfdf;
	opacity: 0.4;
}



/*--------------- Фильтр-Стоимость-СТИЛИ ---------------*/
.filter-item-cost {
	margin: 60px 0 60px 0;
	padding: 0;

	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item-cost legend {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.range-controls {
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f1f1f1;
  
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls {
	position: relative;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf; 	
	border-radius: 100%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 3px;
	background-color: #f1f1f1;
}

.max-price {
	text-align: right;
}


/*--------------- Фильтр-Особенности-СТИЛИ ---------------*/
.filter-item-features {
	margin: 0 0 30px 0;
	padding: 0;
	border: none;
}

.filter-item-features legend {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.filter-item-grid ul {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #283136;
}

.filter-item-features ul {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #283136;
}

.option-features {
	margin-bottom: 18px;
	padding-left: 35px; 
}

.option-features label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}



/*--------------- Фильтр-Кнопка-СТИЛИ ---------------*/
.filter-button {
	display: inline-block;
	width: 260px;
	height: 50px;
	margin-right: 0;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	color: #000000;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 5px;

	background-color: #eeeeee;
	border: none;
}



/*--------------- Эффекты-псевдоэлементов-Каталог ---------------*/
.filter-input:hover + label, 
.filter-input:focus + label {
	color: #000000;
	opacity: 1;	/*не разобрался */
}


.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf
}

.filter-button:active {
	box-shadow: 0 3px inset;
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}



/*---------------Сортировка-СТИЛИ ---------------*/
.sort {
	margin: 60px 0 60px 0;
	padding: 0; 
}

.sort ul {
	list-style: none;
}

.sort a {
	text-decoration: none;
	color: #000000;
}

.sort h2 {
	display: block;
	width: 50%;
	margin: 0 0 0 0;
	padding: 0;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;

	color: #000000;
}

.sort-list {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.sort-columns {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.sort-list {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin: 0;
	padding: 0;
}

.sort-kind {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.sort-kind {
	width: 45px;
	min-height: 18px;
}

.sort-down::before {
	content: "";
	display: block;
	width: 12px;
	height: 11px;
	background-image: url("../img/icon-down-dir.svg");
}

.sort-up-current::before {
	content: "";
	display: block;
	width: 12px;
	height: 11px;
	background-image: url("../img/icon-up-dir.svg");
}


.sort-type a,
.sort-name a,
.sort-up-current {
	color: #000000;
	opacity: 0.3;
}

.sort-type a:hover,
.sort-name a:hover,
.sort-up-current:hover {
	color: #000000;
	opacity: 0.6;
}


.sort-list a:active,
.sort-up-current:active {
	color: #000000;
	opacity: 1;
}



/*---------------Стили шаблонов (каталог) ---------------*/
.catalog-columns {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.templates {
	width: 780px;
	margin: 0;
	padding: 0;
}

.template-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 27px;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 360px;
	margin: 0;
	margin-bottom: 33px;
	padding: 0;
}

.template-list h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000
}

.image {
	margin: 0;
	padding: 0;
}

.btn-order {
	font-size: 16px;
	line-height: 18px;
	color: #eeeeee;
	background-color: #fb565a;
	border-radius: 5px;
	height: 50px;
	width: 200px;
	border: none;
}

.btn-order span {
	font-size: 16px;
	line-height: 18px;	
	color: #eeeeee;
	text-transform: uppercase;
}

.button-orders button:hover,
.button-orders button:focus {
	background-color: #e74246;
}

.button-orders button:active {
	box-shadow: 0 3px inset;
	background-color: #c13135;
}

.catalog-item::before {
	content: "";
	display: block;
	width: 360px;
	min-height: 40px;
	background: url(../img/browser.svg);
	background-repeat: no-repeat;
	opacity: 0.12;
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-item:hover {
	box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}



/*---------------Ссылки на страницы (каталог) ---------------*/
.pagination-list {
	display: flex;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	list-style: none;
}

.pagination-item a {
	display: block;
	padding: 17px 22px;
	margin-right: 10px;
	background-color: #eeeeee;
	border-radius: 5px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.pagination-item-current a {
	display: block;
	padding: 12px 17px;
	margin-right: 10px;
	background-color: #ffffff;
	border: 5px #eeeeee solid;
	border-radius: 5px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.pagination-item-next a {
	display: block;
	padding: 17px 80px;
	margin-right: 10px;
	background-color: #eeeeee;
	border-radius: 5px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.pagination a:hover,
.pagination a:focus {
	background-color: #dfdfdf;
}

.pagination a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: 0 3px inset;
}


/*---------------СЕТОЧНЫЕ СТИЛИ ---------------*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0,0,0,0);
}



/*--------------- Обратная связь-СТИЛИ ---------------*/
.modal {
	display: none;

	position: fixed;
	width: 760px;
	padding: 0 100px; 
	min-height: 590px;
	color: #000000;
	background-color: #ffffff;
	bottom: 180px;
	left: 240px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.7)

}

.feedback-close {
	position: absolute;
	top: 78px;
	right: 105px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-image: url(../img/close-cross.svg);
	background-color: #ffffff;
	border: 0;
	opacity: 0.3;
	cursor: pointer;
}

.letter {
	padding: 0;
	margin: 0;
}

.letter h3 {
	margin: 0;
	padding: 73px 100px 46px 0;
	font-size: 45px;
	list-style: 45px;
}

.feedback-colums {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}


.letter label {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.letter input {
	margin: 0;
	margin-bottom: 36px;
	padding: 0;
	width: 345px;
	height: 50px;
}

.letter textarea {
	margin: 0;
	padding: 0;
	width: 745px;
	height: 104px;
}

.letter input,
.letter textarea {
	margin: 0;
	padding: 0;
	padding-left: 15px;
	font-size: 16px;
	line-height: 18px;
	color: #d7dcde;
	opacity: 0.5;

	background-color: #ffffff;
	border: 2px solid #d7dcde;
	text-decoration: none;
}

.letter textarea {
	margin-bottom: 47px;
	padding-top: 14px;
}

.button-feedback-sent {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding: 17px 0px;
	width: 260px;

	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 5px;

	background-color: #fb565a;
	border: none;
}

.letter input:hover,
.letter textarea:hover {
	color: #b4b9bb;
	border-color: #b4b9bb;
}

.letter input:focus,
.letter textarea:focus {
	border-color: #000000;
}





