body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #000000

	background-color: #ffffff;
}

a {
	text-decoration: none;
}


/*--------------- Main-navigation-style ---------------*/
.main-navigation {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;

	background-color: #eeeeee;
}

.site-navigation,
.basket-link {
	list-style: none;
}

.site-navigation a,
.basket-link a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-link a:hover,
.basket-link a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.basket-link a:active {
	color: #000000;
	opacity: 0.2;
}

/*--------------- Slider-style ---------------*/
.sliders-list {
	list-style: none;

	text-align: left;

	background-color: #eeeeee
}

.sliders-list h3 {
	font-size: 55px;
	line-height: 55px;
}

.sliders-list a {
	text-decoration: none;

	font-size: 16px;
	line-height: 18px;
	color: white;
	text-transform: uppercase;

	background-color: #fb565a;
}

.sliders-list a:hover,
.sliders-list a:focus {
	color: white;
	background-color: #e74246;
}

.sliders-list a:active {
	background-color: #d7373b
}


/*--------------- Services-style ---------------*/
.services-list {
	list-style: none;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.services-list a {
	text-decoration: none;

	font-size: 16px;
	line-height: 18px;
	color: white;
	text-transform: uppercase;
}

.web-site a {
	background-color: #fb565a;
}

.aps a {
	background-color: #00ca74;
}

.presentation a {
	background-color: #efc84a
}

.services-list .web-site a:hover,
.services-list .web-site a:focus {
	background-color: #e74246;
}

.services-list .web-site a:active {
	background-color: #d7373b;
}

.services-list .aps a:hover,
.services-list .aps a:focus {
	background-color: #00bc6c;
}

.services-list .aps a:active {
	background-color: #00aa62;
}

.services-list .presentation a:hover,
.services-list .presentation a:focus {
	background-color: #eab534;
}

.services-list .presentation a:active {
	background-color: #e5a722;
}


/*--------------- About-style-left ---------------*/
.about {
	text-align: left;	
}

.slogan {
	font-size: 45px;
	line-height: 45px;
}

.about h4 {
	text-transform: uppercase;
}


/*--------------- About-style-right ---------------*/
.statistics {
	list-style: none;
}

.block2004 h4 {
	text-transform: uppercase;
	font-weight: bold;
}

.statistics .number {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold;
}

.statistics .percent {
	font-size: 20px; /* запутался, не могу сообразить как правильно сделать */
	vertical-align: super;
}

.statistics .tagging {
	font-size: 16px;
	line-height: 18px;
}


/*--------------- Partners-style ---------------*/
.partners-list {
	list-style: none;
}

.partners-list a {
	opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
	opacity: 1;
}

.partners-list a:active {
	opacity: 0.1;
}

/*--------------- Footer-style ---------------*/
.contacts h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.contacts p {
	font-size: 16px;
	line-height: 18px;
	color: #61686c;
}

.contacts a {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: white;
	background-color: #fb565a;
}

.footer-social ul {
	list-style: none;
}

.footer-discount b {
	font-size: 36px;
	list-style: 36px;
	font-weight: bold;
}

.footer-discount p {
	font-size: 16px;
	list-style: 22px;
	color: #444444;
}


/*--------------- Feedback-style ---------------*/
.feedback input {
	font: inherit;
}

.letter h3 {
	font-size: 45px;
	list-style: 45px;
}

.letter label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.letter input,
.letter textarea {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	opacity: 0.5;

	background-color: #ffffff;
	border: 2px solid #d7dcde;
}

.letter input:hover,
.letter textarea:hover {
	border-color: #b4b9bb;
}

.letter input:focus,
.letter textarea:focus {
	border-color: #000000;
}

.button {
	font-size: 16px;
	line-height: 18px;
	color: white;
	background-color: #fb565a;
	text-transform: uppercase;
}



/*--------------- CATALOG ---------------*/
.filters ul {
	list-style: none;
}

.page-title {
	font-size: 55px;
	line-height: 55px;

	background-color: #eeeeee;
	text-align: center;
}


/*--------------- Filters-style ---------------*/
.filter legend {	
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;

	text-transform: uppercase;
}

.cost-section {
	font-size: 16px;
	line-height: 22px;
}

.filter-option {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}

/*продолжение следует /*