html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200xp;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
} 

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

*::before, *::after {
	box-sizing: inherit;
}

.visually-hidden:not(:focus):not(active)
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
	position: absolute;
}



/*--------------- Кнопка ---------------*/
.button {
	display: inline-block;
	margin-right: 16px;
	padding: 17px 40px;

	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 2px;

	background-color: #fb565a;
	border: none;
}


/*--------------- Главная навигация-СТИЛИ ---------------*/
.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.site-navigation,
.basket-link {
	list-style: none;
}

.site-navigation a,
.basket-link a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-link a:hover,
.basket-link a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.basket-link a:active {
	color: #000000;
	opacity: 0.2;
}


/*--------------- Слайдеры-СТИЛИ ---------------*/
.sliders {
	background-color: #eeeeee;
}

.sliders-list {
	list-style: none;
	text-align: left;
}

.sliders-list h3 {
	font-size: 55px;
	line-height: 55px;
}

.sliders-list a {
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff
	text-transform: uppercase;
	background-color: #fb565a;
}

.sliders-list a:hover,
.sliders-list a:focus,
.basket-link a:focus,
.basket-link a:hover {
	color: white;
	background-color: #e74246;
}

.sliders-list a:active,
.basket-link a:active {
	background-color: #d7373b;
}



/*--------------- Услуги-СТИЛИ ---------------*/
.services-list {
	list-style: none;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.services-list a {
	text-decoration: none;

	font-size: 16px;
	line-height: 18px;
	color: white;
	text-transform: uppercase;
}

.web-site a {
	background-color: #fb565a;
}

.aps a {
	background-color: #00ca74;
}

.presentation a {
	background-color: #efc84a
}

.services-list .web-site a:hover,
.services-list .web-site a:focus {
	background-color: #e74246;
}

.services-list .web-site a:active {
	background-color: #d7373b;
}

.services-list .aps a:hover,
.services-list .aps a:focus {
	background-color: #00bc6c;
}

.services-list .aps a:active {
	background-color: #00aa62;
}

.services-list .presentation a:hover,
.services-list .presentation a:focus {
	background-color: #eab534;
}

.services-list .presentation a:active {
	background-color: #e5a722;
}


/*--------------- О студии-СТИЛИ-левая сторона ---------------*/
.slogan {
	color: #000000;
	font-size: 45px;
	line-height: 45px;
}

.about h4 {
	color: #000000;
	text-transform: uppercase;
}


/*--------------- О студии-СТИЛИ-правая сторона ---------------*/
.statistics {
	list-style: none;
}

.block2004 h4 {
	text-transform: uppercase;
	font-weight: bold;
}

.statistics .number {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold;
}

.statistics .percent {
	font-size: 20px; 
	vertical-align: super;

	margin-top: -13px;
	position: absolute; /* ничего не произошло... */
}

.statistics .tagging {
	font-size: 16px;
	line-height: 18px;
}


/*--------------- Партнеры-СТИЛИ ---------------*/
.partners-list {
	list-style: none;
}

.partners-list a {
	opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
	opacity: 1;
}

.partners-list a:active {
	opacity: 0.1;
}



.partners-item {
	position: relative;
}

.partners-item::before {
	content: "";

	position: absolute;
	top: 25px;
	left: 0px;

	width: 2px;
	height: 52px;

	background-color: #d1d1d1;
	filter: opacity(1);
}

.partners-item:nth-child(1)::before {
	display: none;
}




/*--------------- Футер-СТИЛИ ---------------*/
.contacts h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.contacts p {
	font-size: 16px;
	line-height: 18px;
	color: #61686c;
}

.contacts a {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: white;
	background-color: #fb565a;
}

.footer-social ul {
	list-style: none;
}

.footer-discount b {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.footer-discount p {
	font-size: 16px;
	list-style: 22px;
	color: #444444;
}


/*--------------- Обратная связь-СТИЛИ ---------------*/
.feedback input {
	font: inherit;
}

.letter h3 {
	font-size: 45px;
	list-style: 45px;
}

.letter label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.letter input,
.letter textarea {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	opacity: 0.5;

	background-color: #ffffff;
	border: 2px solid #d7dcde;
}

.letter input:hover,
.letter textarea:hover {
	border-color: #b4b9bb;
}

.letter input:focus,
.letter textarea:focus {
	border-color: #000000;
}

.button {
	font-size: 16px;
	line-height: 18px;
	color: white;
	background-color: #fb565a;
	text-transform: uppercase;
}



/*--------------- Каталог-СТИЛИ ---------------*/

.page-title {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 116px;
	font-size: 55px;
	line-height: 55px;

	background-color: #eeeeee;
	text-align: center;
}


/*--------------- Фильтры-СТИЛИ ---------------*/
.filters {
	width: 300px;
	padding: 0;
	margin: 0 120px 0 0;
}


/*--------------- Фильтры-Стоимость-СТИЛИ ---------------*/
.filter-item-cost {
	margin: 60px 0 60px 0;
	padding: 0;

	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item-cost legend {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.range-controls {
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f1f1f1;
  
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls {
	position: relative;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf; 	
	border-radius: 100%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 3px;
	background-color: #f1f1f1;
}

.max-price {
	text-align: right;
}



/*--------------- Фильтр-Сетка-СТИЛИ ---------------*/
.filter-item-grid {
	margin: 0 0 50px 0;
	padding: 0;
	border: none;
}

.filter-item-grid legend {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.filter-item-grid ul {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #dfdfdf;
}

.option-grid {
	margin-bottom: 15px;
	padding-left: 35px; 
}

.option-grid label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-radio + label::before {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #dfdfdf;
	opacity: 0.4;
}

.filter-input-radio:checked + label::after {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #dfdfdf;
	opacity: 0.4;
}



/*--------------- Фильтр-Особенности-СТИЛИ ---------------*/
.filter-item-features {
	margin: 0 0 30px 0;
	padding: 0;
	border: none;
}

.filter-item-features legend {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.filter-item-features ul {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #dfdfdf;
}

.option-features {
	margin-bottom: 18px;
	padding-left: 35px; 
}

.option-features label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 27px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}


/*--------------- Фильтр-Кнопка-СТИЛИ ---------------*/
.filter-button {
	display: inline-block;
	width: 260px;
	height: 50px;
	margin-right: 0;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	color: #000000;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 2px;

	background-color: #eeeeee;
	border: none;
}


/*--------------- Эффекты-псевдоэлементов-Каталог ---------------*/
.filter-input:hover + label, 
.filter-input:focus + label {
	color: #000000;
	opacity: 1; /* не работает маркер */
}

.filter-input:active + label { 
	color: #000000;
	opacity: 0.3;
}



.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}




/*---------------Сортировка-СТИЛИ ---------------*/
.sort {
	margin: 60px 0 60px 0;
	padding: 0; 
}

.sort ul {
	list-style: none;
}

.sort a {
	text-decoration: none;
	color: #000000;
}

.sort h2 {
	display: block;
	width: 50%;
	margin: 0 0 0 0;
	padding: 0;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;

	color: #000000;
}

.sort-list {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.sort-columns {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.sort-list {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin: 0;
	padding: 0;
}

.sort-kind {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.sort-type,
.sort-name {
	opacity: 0.3;
}

.sort-kind {
	width: 45px;
	min-height: 18px;
}

.sort-down::before {
	content: "";
	display: block;
	width: 12px;
	height: 11px;
	background-image: url("../img/icon-down-dir.svg");
	opacity: 1;
}

.sort-up-current::before {
	content: "";
	display: block;
	width: 12px;
	height: 11px;
	background-image: url("../img/icon-up-dir.svg");
	opacity: 0.2;
}


/*---------------Стили шаблонов (каталог) ---------------*/
.catalog-columns {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.templates {
	width: 780px;
	margin: 0;
	padding: 0;
}

.template-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 27px;
	padding: 0;
	list-style: none;
}

.catalog-item	{
	width: 360px;
	margin: 0;
	margin-bottom: 33px;
	padding: 0;
}

.template-list h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000
}

.about {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.btn-order {
	font-size: 16px;
	line-height: 18px;
	color: #eeeeee;

	background-color: #fb565a;

	height: 50px;
	width: 200px;
}

.button-orders button:hover,
.button-orders button:focus {
	background-color: #e74246;
}

.button-orders button:active {
	background-color: #d7373b;
}


.btn-order span {
	font-size: 16px;
	line-height: 18px;	
	color: #eeeeee;
	text-transform: uppercase;
}

.catalog-item::before {
	content: "";
	display: block;
	width: 360px;
	min-height: 40px;
	background: url(../img/browser.svg);
	background-repeat: no-repeat;
	opacity: 0.12;
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-item:hover {
	box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

/*---------------Ссылки на страницы (каталог) ---------------*/
.pagination-list {
	display: flex;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	list-style: none;
}

.pagination-item a {
	display: block;
	padding: 17px 22px;
	margin-right: 10px;
	background-color: #eeeeee;
	border-radius: 5px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.pagination-item-current a {
	display: block;
	padding: 12px 17px;
	margin-right: 10px;
	background-color: #ffffff;
	border: 5px #eeeeee solid;
	border-radius: 5px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.pagination-item-next a {
	display: block;
	padding: 17px 80px;
	margin-right: 10px;
	background-color: #eeeeee;
	border-radius: 5px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.pagination a:hover,
.pagination a:focus {
	background-color: #dfdfdf;
}

.pagination a:active {
	color: #000000;
	opacity: 0.3;
	background-color: #d5d5d5;
}



/*---------------СЕТОЧНЫЕ СТИЛИ ---------------*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0,0,0,0);
}

/*ГЛАВНАЯ*/
/*---------------Сетка для навигации---------------*/
.main-header {
	width: 1200px;
	background-color: #eeeeee;	
	margin: 0 auto;
	padding: 0;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.main-header-logo {
	width: 160px;
	height: 65px;
	margin: 0;
	padding: 0;
	padding-top: 49px;
	padding-bottom: 18px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.site-navigation li {
	padding: 0 30px;
	padding-top: 83px;
}

.basket-link {
	display: flex;
	max-width: 130px;
	margin: 0;
	padding: 0;
	padding-top: 83px;
}

.basket-link .basket {
	position: relative;
	padding-left: 45px;
}

.basket::before {
	content: "";

	position: absolute;
	top: 1px;
	left: 20px;

	width: 16px;
	height: 16px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}



/*---------------Сетка для слайдера---------------*/
.sliders {
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
}

.sliders-list {
	display: fle; /*чтобы не было каши */
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.slider-colums {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	width: 1200px;
	padding: 0;
	margin: 0 auto;
	outline: 3px solid red;
}
 
.slider-left {
	width: 44%;
	margin: 0;
	padding: 0;
	outline: 3px solid orange;
}

.slider-right {
	width: 56px;
	margin: 0;
	padding: 0;
}

/*---------------Сетка для услуг---------------*/
.services-list {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 2px solid #e1e1e1;

}

.service-item {
	width: 33%;
	margin: 0;
	margin-right: 100px;
	margin-bottom: 80px;
	padding: 0;
	border: 3px solid purple;
}

.service-item h3 {
	margin: 0;
	padding: 26px 0;
}

.service-item p {
	width: 245px;
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}


/*---------------Сетка для описания---------------*/
.about-colums {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 2px solid #e1e1e1;
}

.about {
	width: 58.3333%;
	margin: 80px 0 75px 0;
	padding: 0;
	outline: 3px solid orange;
}

.slogan2 {
	margin: 0;
	padding: 38px 0 48px 0;
}

.about h4 {
	margin: 0;
	padding: 0;
	padding-bottom: 35px;	
}

.orders li {
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}

.orders li:nth-child(3) {
	margin: 0;
	padding: 0;
}

.block2004 {
	width: 33.3333%;
	margin: 40px 0 75px 0;
	padding: 0;
	outline: 3px solid blue;
}

.block2004 h4 {
	text-align: center;
	margin: 0;
	padding: 41px 0 45px 0;
}

.block2004 .statistics {
	display: flex;
	margin: 0;
	padding: 0;
}

.tagging {
	display: block;
	margin: 0;
	padding: 0;	
	padding-top: 28px;
}


/*---------------Сетка для партнеров---------------*/
.partners-section {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0;
	outline: 3px solid red;
}

.partners-list {
	display: flex;
	align-items: center;
	width: 1200px;
	margin: 0;
	padding: 0;
}

.partners-list li {
	width: 25%;
	text-align: center;
	margin: 0;
	padding: 0;
}


/*---------------Сетка для футера---------------*/
.main-footer {
	width: 1200px; /*Тут мы задали ширину блока */
	margin: 0 auto;
	padding: 0;
}

.map { 
	margin-left: -500px;
	margin-right: -500px;
	text-align: center;
	outline: 3px solid red;
}

.contacts {
	position: absolute;
	width: 230px;
	height: 308px;
	margin-top: -400px;
	padding-left: 50px; 
	padding-right: 40px;
	background-color: #ffffff;
}

.contacts h4 {
	margin: 50px 0 30px 0;
	padding: 0;
}

.contacts p:last-of-type {
	margin: 0;
	padding: 10px 0 35px 0;
}

.button-letter {
	margin: 0;
	padding: 0;
	width: 219px;
	height: 50px;
	text-align: center;
	vertical-align: center; /* не работает!? */
}


.footer-colums {
	display: flex;
	width: 1200px;  /*надо ли тут ширину дублировать!? */
	margin: 69px 0 0 0;
	padding: 0;
	outline: 3px solid blue;	
}

.social-type {
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin: 0px 140px 0 0;
	padding: 0;
	list-style: none;
}

.button-social {
	display: flex;
	justify-content: center;
	align-self: center;

	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: #e1e1e1;
}


.footer-discount {
	width: 66%;
	margin: 0;
	padding: 0;
}

.footer-discount b {
	display: block;
	padding: 9px 0 15px 0;
}

.footer-discount p {
	margin: 0;
	padding: 0;
}





/*Каталог*/
/*---------------Сетка для шапки---------------*/
.page-title {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 116px;
}
